<mat-card>
  <mat-spinner diameter="48" *ngIf="estaCarregando"></mat-spinner>
  <form
    [formGroup]="form"
    *ngIf="!estaCarregando"
    (submit)="onAdicionarCliente()"
  >
    <mat-form-field>
      <input
        type="text"
        matInput
        placeholder="nome"
        name="nome"
        required
        minlength="3"
        formControlName="nome"
      />
      <mat-error *ngIf="form.get('nome').invalid">Digite um nome válido</mat-error>
    </mat-form-field>
    <div>
      <button (click)="inputImagem.click()" mat-stroked-button type="button">Selecionar a Imagem</button>
      <input type="file" #inputImagem/>
    </div>
    <mat-form-field>
      <input
        type="tel"
        matInput
        placeholder="fone"
        name="fone"
        required
        formControlName="fone"
      />
      <mat-error *ngIf="form.get('fone').invalid">Digite um telefone válido</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        type="email"
        matInput
        placeholder="email"
        name="email"
        required
        formControlName="email"
      />
      <mat-error *ngIf="form.get('email').invalid">Digite um e-mail válido</mat-error>
    </mat-form-field>

    <button mat-raised-button color="accent">
      Inserir Cliente
    </button>
  </form>
</mat-card>
