<div class="container h-100 d-flex justify-content-center align-items-center flex-column">
  <form class="col-4">
    <div class="form-group">
      <label for="nome">Nome:</label>
      <input matInput id="nome" class="form-control" type="text" placeholder="nome" [(ngModel)]="nome"/>
    </div>
    <hr/>
    <div class="form-group">
      <label for="fone">Fone:</label>
      <input matInput id="fone" class="form-control" type="text" placeholder="fone"[(ngModel)]="fone"/>
    </div>
    <hr/>
    <div class="form-group">
      <label for="email">Email:</label>
      <input matInput id="email" class="form-control" type="text" placeholder="email"[(ngModel)]="email"/>
    </div>
    <hr/>
    <button class="btn btn-block btn-primary" (click)="onAdicionarCliente()">Inserir Cliente</button>
  </form>
  </div>