<div class="container h-100 d-flex flex-column justify-content-center align-items-center">
  <mat-card>
    <mat-form-field>
      <input matInput type="text" placeholder="nome" [(ngModel)]="nome"/>
    </mat-form-field>
    <hr/>
    <mat-form-field>
      <input matInput type="text" placeholder="fone"[(ngModel)]="fone"/>
    </mat-form-field>
    <hr/>
    <mat-form-field>
      <input matInput type="text" placeholder="email"[(ngModel)]="email"/>
    </mat-form-field>
    <hr/>
    <button class="btn btn-block btn-primary" (click)="onAdicionarCliente()">Inserir Cliente</button>
  </mat-card>
</div>