<mat-card>
  <form (submit)="onAdicionarCliente(clienteForm)" #clienteForm="ngForm">
    <mat-form-field>
      <input type="text" matInput placeholder="nome" name="nome" ngModel/>
    </mat-form-field>

    <mat-form-field>
      <input type="tel" matInput placeholder="fone" name="fone" ngModel/>
    </mat-form-field>
    <mat-form-field>
      <input type="email" matInput placeholder="email" name="email" ngModel/>
    </mat-form-field>
    <button mat-raised-button color="primary">
      Inserir Cliente
    </button>
  </form>
</mat-card>
